<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LBA_Proyect</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/988a301a8c.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="header">
        <header>
            <img src="~/img/logoLBA.png" alt="La boutique del anteojo" class="logo">
            <div class="head">
                <h1 class="title">La boutique del anteojo</h1>
            </div>
            <div class="logos-carrusel">
                <section class="logo__slider" id="logo-slider-container">
                    <div class="slider__logos" id="slider-logos-js"></div>
                </section>
            </div>
            <div id="main-container">
                <div id="hamburger">
                    <nav>
                        <button>
                            <span class="top-line"></span>
                            <span class="middle-line"></span>
                            <span class="bottom-line"></span>
                        </button>
                    </nav>
                </div>
            </div>
            <div class="option-bar-container">
                <ul class="options-bar">
                    <li><a class="inicio-nav" href="">Inicio</a></li>
                    <li><a class="contacto-nav" href="">Contacto</a></li>
                    <li><a class="sobre-nosotros-nav" href="">Sobre nosotros</a></li>
                    <li><a class="productos-nav" href="">Productos</a></li>
                </ul>                
            </div>
            <div class="irp-container">
                <ul>
                    <li><a class="perfil-nav" href=""><i class="fas fa-user"></i></a></li>
                    <li><a class="iniciar-sesion-nav" href=""><i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a class="registrese-nav" href=""><i class="fas fa-key"></i></a></li>                
                </ul>
            </div>
        </header>
</div>        
            @RenderBody()

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - LBA_Proyect - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
