@{
    ViewData["Title"] = "Home Page";
}

<div class="carousel-container">
        <section class="slider" id="slider-container">
            <div class="slider__images" id="slider-js"></div>
            <div class="slider__navigation" id="slider-navigation"></div>
        </section>
        <div class="right-left">
            <i class="fas fa-chevron-left"></i>
            <i class="fas fa-chevron-right"></i>
        </div>
</div>

