@{
    ViewData["Title"] = "Home Page";
}

        <section class="slider" id="slider-container">
            <div class="slider__images" id="slider-js"></div>
            <div class="slider__navigation" id="slider-navigation">
                <i class="fas fa-chevron-left"></i>
                <i class="fas fa-chevron-right"></i>
            </div>
        </section>
        <main>
            <div class="sobre-nosotros">
                <article class="backdrop">
                    <div class="card">
                        <h1 class="title-sobre-nosotros">Sobre nosotros</h1>
                        <p class="parrafo-sobre-nosotros">La boutique del anteojo es una optica con muchos años de experiencia en el rubro que ofrece la mejor calidad al mejor precio, priorizamos que nuestros clientes esten satisfecho con su producto.</p>
                        <a href="#" class="a-sobre-nosotros">Más información</a>
                    </div>
                </article>
            </div>
            <div class="productos">
                <article class="backdrop-card">
                    <div class="card-productos">
                        <h1 class="title-productos">Productos</h1>
                        <p class="parrafo-productos">Los mejores productos los encontras en La boutique del anteojo,tu optica amiga!</p>
                        <a href="#" class="a-productos">Productos</a>
                    </div>
                </article>
            </div>
            <div class="contacto">
                <article class="backdrop-contacto">
                    <div class="card-contacto">
                        <h1 class="title-contacto">Contactanos</h1>
                        <p class="parrafo-contacto">Podes encontrarnos en Av.Francisco Beiro 5665</p>
                        <a href="#" class="a-contacto">Más información</a>
                    </div>
                </article>
            </div>
        </main>
