/* Contacto */

.contact-body-container{
    position: relative;
    width: 100%;
    height: 100vh;
    /* background-color:  rgb(68, 0, 65);  */
}
.contactanos{
    position: absolute;
    left: 350px;
    bottom: 400px;
    font-size: 3rem;
    padding-top:20px;
    color:  rgb(255, 28, 247);
    z-index: 10;
}
.container-information ul{
    min-height: 50vh;
    width: 28%;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 400px;
    top: 170px;
    border-right:2px solid rgb(54, 0, 77) ;
}
.maps-ubication{
    width: 100%;
    min-height: 17vh;
}
.numero-contacto{
    position: relative;
    width: 100%;
    min-height: 17vh;
}
.facebook-contact{
    width: 100%;
    min-height: 17vh;
}
.container-information ul li{
    list-style: none;
}
.container-information ul li div p{
    position: relative;
    text-align: center;
    top: 20px;
    font-size: 1.5em;
    color: rgb(54, 0, 77);
}
.title-information{
    text-align: center;
    color:  rgb(255, 28, 247);
    text-transform: uppercase;
}
.icon{
    display: flex;
    position: relative;
    top: 60px;
    font-size: 2em;
    height: 45px;
    width: 45px;
    color:  rgb(37, 0, 36);
    border: 1px solid rgb(54, 0, 77);
    border-radius: 50px;
    justify-content: center;
    align-items: center;
}
.link-facebook{
    display: block;
    text-align: center;
    padding-top: 20px;
    font-size: 1.5em;
    color: rgb(54, 0, 77);
}
.container-contact{
    display: flex;
    position: relative;
    left: 900px;
    bottom: 556px;
    min-height: 100vh;
    width: 53%;
    align-items: center;
    justify-content: center;
}
.form-contact{
    position: relative;
    top: 10px;
    min-height: 39vh;
    width: 100%;
}
input{
    min-height: 3.8vh;
    border-radius: 20px;
    border: none;
    text-transform: uppercase;
    background-color: rgb(180, 179, 179, .5);
    outline: none;

}
.name{
    position: relative;
    left: 15%;
    top: 40px;
    width: 32%;
    border: none;
    text-align: center;
}
.last-name{
    position: relative;
    top: 5px;
    left: 50%;
    width: 35%;
    text-align: center;
}
.phone-number{
    position: relative;
    top: 20px;
    left: 34%;
    width: 28%;
    text-align: center;
}
textarea{
    position: relative;
    outline: none;
    left: 31%;
    top: 50px;
    resize: none;
    border: none;
    font-size: 1.4em;
    background-color: rgb(180, 179, 179, .5);
    border-radius: 10px;
}
.submit{
    position: relative;
    top: 100px;
    left: 30px;
    width: 20%;
    background-color: hotpink;
    cursor: pointer;
}
.submit:hover{
    background-color: rgb(255, 16, 136);
    transition: .5s;
}