*{
  margin: 0;
  padding: 0;
}

/*header con menu hamburgesa*/

header{
  position: sticky;
  top: 0px;
  z-index: 300;
  bottom: 105px;
}
.head{
  position: relative;
  bottom: 205px;
  z-index: 100;
  width: 100%;
  height: 10rem;
  background-color: rgb(19, 0, 18);
}
.logo{
  width: 200px;
  height: 200px;
  position: relative;
  bottom: 50px;
  right: 30px;
  display: inline-block;
  z-index: 200;
  min-width: .8rem;
}
.title{
  text-align: center;
  padding: 1.4rem;
  font-size: 2.9em;
  font-family: 'Cabin', sans-serif;
  letter-spacing: 3px;
  position: relative;
  color: rgb(247, 226, 226);
}

/*menu hamburgesa*/

#main-container{
  width: 31px;
  bottom: 62px;
  top: 0px;
  position: fixed;
  margin-left: 15px;
  left: 95%;
  padding-top: 20px;
  z-index: 200;
}
#hamburger button{
  background: none;
  border: 0;
  cursor: pointer;
  padding: 0px;
  width: 45px;
  height: 60px;
  outline: none;
  display: none;
}
#hamburger button span{
  border-radius: 5px;
  background-color: white;
  display: block;
  width: 60%;
  margin: 5px auto;
  height: 2px;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}
#hamburger button.open .top-line{
  animation-name: top-line-animation ;
}
#hamburger button.open .middle-line{
  animation-name: middle-line-animation ;
}
#hamburger button.open .bottom-line{
  animation-name: bottom-line-animation ;
}
#hamburger button .top-line{
  animation-name: top-line-animation-close;
}
#hamburger button .middle-line{
  animation-name: middle-line-animation-close;
}
#hamburger button .bottom-line{
  animation-name: bottom-line-animation-close;
}
@keyframes top-line-animation{
  50%, 100%{
      margin: 0 auto;
      transform: translateY(4px) rotate(-45deg);
  }
}
@keyframes bottom-line-animation{
  50%, 100%{
      margin: 0 auto;
      transform: translateX(-1px) rotate(45deg);
  }
}
@keyframes middle-line-animation{
  20%, 100%{
      margin: 0 auto;
      width: 0;
      opacity: 0;
  }
}
@keyframes top-line-animation-close{
  0%{
      margin: 0 auto;
      transform: translateY(4px) rotate(-45deg);
  }
  50%, 100%{
      margin: 5px auto;
      transform: translateY(0px) rotate(0deg);
  }
}
@keyframes bottom-line-animation-close{
  0%{
      margin: 0 auto;
      transform: translateX(-1px) rotate(45deg);
  }
  50%, 100%{
      margin: 5px auto;
      transform: translateX(0px) rotate(0deg);
  }
}
@keyframes middle-line-animation-close{
  0%{
      margin: 0 auto;
      width: 0;
      opacity: 0;
  }
  20%, 100%{
      margin: 0 auto;
      width: 60%;
      opacity: 1;
  }
}

/*carrusel de imagenes*/

.slider{
  width: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
  bottom: 368px;
}

.slider__images{
  position: relative;
  left: 0px;
  transition:all 1s ;

}
.slider__navigation{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 1em auto;
  position: relative;
  bottom: 700px;
  right: 235px;
  color: white;
  cursor: pointer;
}
.slider-nav{
  width: 15px;
  height: 15px;

}
/* slider button */
.fa-chevron-right{
  font-size: 3rem;
  position: relative;
  left: 690px;
}
.fa-chevron-left{
  font-size: 3rem;
  position: relative;
  right: 220px;
}

/* nav  */
.option-bar-container{
  width: 50%;
  position: relative;
  bottom: 280px;
}
.options-bar{
  display: flex;
  list-style: none;
  text-decoration: none;
  position: relative;
  left:500px;
  justify-content: space-between;
}
.option-bar-container .options-bar  li a{
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  display: block;
  height: 4%;
  padding: 30px;
  white-space: nowrap;
  position: relative;
  z-index: 1100;
}
.option-bar-container .options-bar li{
  height: 136px;
}
.irp-container ul{
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style: none;
  width: 150px;
  justify-content: space-between;
  position: relative;
  bottom: 475px;
  left: 1700px;
  z-index: 1000;
}
.irp-container ul li a{
  color: white;
  font-size: 1.5rem;
}
@media (max-width:800px){
   .option-bar-container{
       width: 100%;
   }
  .options-bar{
      position: relative;
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      background-color:  rgb(19, 0, 18);
      border: 1px solid white;
      z-index: 1100;
      top: -205px;
      left: -2px;
      text-align: center;
  }
  a{
      position: relative;
      top: 30px;
      border-bottom: 1px solid white;
      padding: 0;

  }
  .option-bar-container .options-bar ul li{
      position: relative;
      height: 10px;
  }
  .productos-nav{
      border: none;
  }
  .options-bar{
      position: relative;
      bottom: 300px;
  }
  .logo{
      width: 20%;
      height: 20%;
      bottom: 70px;
  }
  .header{
      position: relative;
      top: 50px;
  }
  .slider{
      bottom: 608px;
  }
  .title{
      font-size: 6.5vh;
      padding: 1.8em;
      min-height: 2vh;
  }
}
.sobre-nosotros{
  position: relative;
  background-image: url(/img/local.jpg);
  height: 30%;
  width: 100%;
  background-size: cover;
  background-position: 0px -500px ;
  bottom: 362px;
  box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.5);
}
.backdrop{
  height: 30vw;
  backdrop-filter: blur(4px);
}
.card{
  width: 80vh;
  min-height: 20vh;
  background-color: rgba(247, 244, 244, 0.7);
  position: relative;
  top: 150px;
  font-family: 'Cabin', sans-serif;
  border-radius: 10px;
  margin-left: 60px;
}
.title-sobre-nosotros{
  text-align: center;
  font-size: 2rem;
}
.parrafo-sobre-nosotros{
  font-size: 1.5rem;
  padding-top: 10px;
  color: rgb(29, 29, 29);
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}
.a-sobre-nosotros{
  display: flex;
  margin: auto;
  margin-top: 10px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  height: 4vh;
  width: 25%;
  background-color: rgb(53, 0, 53);
  color: rgb(255, 231, 255);
  text-decoration: none;
  text-transform: uppercase;
  font-size: .8em;
  white-space: nowrap;
}
.productos{
  position: relative;
  background-image: url(/img/designed-sunglasses-red-book-grey-surface.jpg);
  height: 40%;
  width: 100%;
  background-size: cover;
  background-position: 0px -500px;
  bottom: 291px;
  box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.5);
}
.backdrop-card{
  backdrop-filter: blur(6px);
  height: 600px;
}
.card-productos{
  min-height: 20vh;
  width: 80vh;
  background-color: rgba(247, 244, 244, 0.7);
  border-radius: 10px;
  position: relative;
  left: 1070px;
  top: 150px;
  font-family: 'Cabin', sans-serif;
}
.title-productos{
  text-align: center;
  font-size: 2em;
}
.parrafo-productos{
  font-size: 1.5em;
  text-align: center;
  padding-top: 10px;
}
.a-productos{
  display: flex;
  margin: auto;
  margin-top: 10px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  height: 4vh;
  width: 25%;
  background-color: rgb(53, 0, 53);
  color: rgb(255, 231, 255);
  text-decoration: none;
  text-transform: uppercase;
  font-size: .8em;
  margin-top: 20px;
}
.contacto{
  position: relative;
  background-image: url(/img/descarga.png);
  height: 30vw;
  width: 100%;
  background-size: cover;
  background-position: 0px -90px;
  bottom: 221px;
  box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.5);
}
.backdrop-contacto{
  height: 30vw;
  backdrop-filter: blur(4px);
}
.card-contacto{
  min-height: 20vh;
  width: 80vh;
  background-color: rgba(247, 244, 244, 0.7);
  position: relative;
  top: 150px;
  font-family: 'Cabin', sans-serif;
  border-radius: 10px;
  margin-left: 60px;
}
.title-contacto{
  text-align: center;
  font-size: 2vw;
}
.parrafo-contacto{
  font-size: 1.5vw;
  text-align: center;
  padding-top: 30px;
}
.a-contacto{
  display: flex;
  margin: auto;
  margin-top: 30px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  height: 4vh;
  width: 25%;
  background-color: rgb(53, 0, 53);
  color: rgb(255, 231, 255);
  text-decoration: none;
  text-transform: uppercase;
  font-size: .8em;
}
.footer-container{
  height: 600px;
  width: 100%;
  background-color: rgb(19, 0, 18);
  font-family: 'Cabin', sans-serif;
  color: rgb(247, 226, 226);
}
.footer-title{
  font-size: 3.8em;
  text-align: center;
}
.redes-sociales{
  position: relative;
  top: 250px;
  margin: auto;
  height: 2%;
  width: 10%;
}
.logo-facebook{
  height: 3em;
  border: 1px solid white;
}
.logo-instagram{
  height: 3em;
  width: 3em;
  border: 1px solid white;
}
.paginas-container{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 200px;
  text-align: center;
  align-items: center;
  top: 100px;
}
.paginas-container ul li{
  list-style: none;
  font-size: 1.2em;
  padding-top: 25px;
}
.paginas-container ul li a{
  text-decoration: none;
  color: rgb(247, 226, 226);
}
.ubicacion{
  position: relative;
  left: 1500px;
  bottom: 120px;
  width: 15%;
}
.beiro{
  position: relative;
  bottom: 140px;
  left: 1517px;
}
iframe {
  position: relative;
  left: 1455px;
  bottom: 100px;
  width: 20%;
  height: 248px;
  color: rgb(247, 226, 226);
}
.preguntas{
  position: relative;
  bottom: 392px;
  left: 480px;
  width: 20%;
}
.preguntas ul li{
  list-style: none;
  font-size: 1.2em;
  padding-top: 25px;
}
.preguntas ul li a{
  text-decoration: none;
  color: rgb(247, 226, 226);
}
.contacto-num{
  position: relative;
  bottom: 677px;
  left: 30px;
}
.numero-contacto{
  position: relative;
  left: 880px;
  top: 20px;
  font-size: 1em;
}